tickTime=2000
dataDir={{ zookeeper_data_dir }}
clientPort=2181
initLimit=5
syncLimit=2
{% for host in play_hosts %}
server.{{ loop.index }}={{ hostvars[host]['ec2_private_ip_address'] }}:2888:3888
{% endfor %}
